.faq {
    margin: 2rem 10rem 2rem 10rem;
}

h1 {
    background-color: var(--secondary_color);
    font-size: var(--title);
    color: var(--white);
    padding: 0.5rem 0 0.5rem 3rem;
    margin: 0;
}

h2 {
    background-color: var(--primary_color);
    cursor: pointer;
    margin-bottom: 0;
    height: 3.85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.faq_section .answer {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.faq_section .answer.active {
    height: 5rem;
}

.answer p {
    padding: 1rem;
    font-size: var(--title);
}

.faq_section {
    background-color: var(--secondary_color);
    color: var(--white);
}

.arrow-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-out;
}

.active.arrow-icon {
    transform: rotate(180deg);
}