/* Colores */

:root {
    --font_style: monospace;
    --title: 36px;
    --platforms: 24px;
    --subtitle: 18px;
    --game_data: 24px;
    --primary_color: hsl(40, 88%, 51%);
    --hovered_primary: hsla(40, 88%, 51%, 0.8);
    --secondary_color: hsl(259, 76%, 38%);
    --hovered_secondary: hsl(259, 76%, 28%);
    --dark_secondary:hsl(259, 77%, 17%);
    --white: white;
    --background_slider_arrow: hsla(0, 0%, 0%, 0.5);
    --price: hsl(348, 83%, 47%);
    --price_text: 30px;
    --sale: hsl(120, 100%, 25%);
}

* {
    font-family: var(--font_style);
}

/* General Styles */
body {
    background: hsl(36, 98%, 42%) url(../images/back.svg);
    margin: 0;
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 0;
}

.product_details {
    max-width: 1200px;
    margin: 50px auto;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.cart_details {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 2rem 15rem 2rem 15rem;
    gap: 10rem;
}

.checkout {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5rem;
    padding: 2rem;
}
